<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team2_mobilephim.team2_mobilephiem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Content"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_tapphim"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity_HanhDong"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity_Tinhcam"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity_HoatHinh"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity_ChieuRap"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity_KiemHiep"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity_PhimLe"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".Activity_xemphim"></activity>
    </application>

</manifest>